Style.css 
body { 
  font-family: Arial, sans-serif;   
  background-color: #f5f5f5;        
  margin: 0;                        
  padding: 0; 
} 
header { 
 background-color: #222; 
  color: white;                 
  padding: 20px;                     
  text-align: center; 
} 
header h1 { 
  margin: 0; 
  font-size: 28px; 
} 
.container { 
  width: 1000px;                     
  margin: 30px auto; 
  padding: 20px;                     
  background-color: white; 
  border: 2px solid #ddd;            
  border-radius: 8px; 
} 
.product-wrapper { 
  display: flex; 
  gap: 20px; 
} 
.product-image-box img { 
  width: 300px;                      
  height: 300px;                     
    border: 2px solid #ccc;           
  padding: 10px;                     
  background-color: #fafafa; 
} 
 
.product-details { 
  width: 600px; 
} 
.product-title { 
font-size: 24px; 
color: #333; 
margin-bottom: 10px;              
} 
.product-brand { 
color: #777; 
font-size: 14px; 
} 
.rating { 
color: orange; 
margin: 8px 0; 
} 
.product-price { 
font-size: 22px; 
color: red; 
margin: 15px 0; 
} 
.old-price { 
text-decoration: line-through; 
font-size: 14px; 
color: #888; 
} 
